/* Welcome to More-Recipe Project
*
*/


.bkgrd {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
      
}

.logo {
   margin-top: 6px;
   margin-bottom: 50px;
}

.head {
    font-family:"Berlin San FB";
    font-size: 64px;
    font-weight:bold;
    color: #fff; 
}
.moto {
   font-family:"Monotype Corsiva";
    font-size: 38px;
    text-shadow: 1px 1px #669d35;
    color: #fff;  
}