/* Welcome to More-Recipe Project
*
*/


.bkgrd {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 50px 0;
      
}

.logo {
   margin-top: 6px;
   margin-bottom: 50px;
}

.head {
    font-family:"Berlin San FB";
    font-size: 64px;
    font-weight:bold;
    color: #fff; 
}
.moto {
   font-family:"Monotype Corsiva";
    font-size: 38px;
    text-shadow: 1px 1px #669d35;
    color: #fff;  
}
 /************ User Administration Section ******************/
 /* Creates a vertical nav starting at 768px (sm) */
@media (min-width: 768px) {
    .vertical-nav {
                margin-top: 25px;
            }

    .vertical-nav .collapse {
        display: block;
    }
}

/* Set black background color, white text and some padding */
footer {
      background-color: #3359df;
      color: white;
      padding: 5px;
}
/* Set gray background color and 100% height */
.sidenav {
      height: auto;
      border-right-color: #3359df; 
      border-right-style:solid;
      border-right-width: 1px;      
      
}

.sidenav li {
    display: block;
    margin-left: -5px;
    margin-bottom: 5px;
    
}

.sidenav li a:active {
   background-color: #6582ef;

}

.sidenav li a:hover {
   background-color: #475ba7;
   color: #fff;
   border-left:#ccc solid 3px; 

}

.sidenav li .badge {
    float: right;
}

.row .recipe {
    margin-top: 10px;
    margin-bottom: 30px;
}

