/* Welcome to More-Recipe Project
*
*/


.bkgrd {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
      
}

.logo {
   margin-top: 6px;
   margin-bottom: 50px;
}

.head {
    font-family:"Berlin San FB";
    font-size: 64px;
    font-weight:bold;
    color: #fff; 
}
.moto {
   font-family:"Monotype Corsiva";
    font-size: 38px;
    text-shadow: 1px 1px #669d35;
    color: #fff;  
}
 /************ User Administration Section ******************/
 /* Creates a vertical nav starting at 768px (sm) */
@media (min-width: 768px) {
    .vertical-nav {
                margin-top: 25px;
            }

    .vertical-nav .collapse {
        display: block;
    }
}

/* Set black background color, white text and some padding */
footer {
      background-color: #3359df;
      color: white;
      padding: 5px;
}
/* Set gray background color and 100% height */
.sidenav {
      height: auto;
      border-right-color: #3359df; 
      border-right-style:solid;
      border-right-width: 1px;      
      
}

.sidenav li {
    display: block;
    margin-left: -5px;
    margin-bottom: 5px;
    
}

.sidenav li a:active {
   background-color: #6582ef;

}

.sidenav li a:hover {
   background-color: #475ba7;
   color: #fff;
   border-left:#ccc solid 3px; 

}

.sidenav li .badge {
    float: right;
}

.row .recipe {
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Recipe list */
.recipes-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto; }

.recipes-list > li {
  border-radius: 2px;
  padding: 10px;
  background: #f4f4f4;
  margin-bottom: 2px;
  border-left: 2px solid #e6e7e8;
  color: #444; }

.recipes-list > li:last-of-type {
  margin-bottom: 0; }

.recipes-list > li > input[type='checkbox'] {
  margin: 0 10px 0 5px; }

.recipes-list > li .text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600; }
.recipes-list > li .time {
   float: right;
   font-family:"Monotype Corsiva";
    font-size: 14px;
   }

.recipes-list > li .label {
  margin-left: 10px;
  font-size: 9px; }

.recipes-list > li .tools {
  display: none;
  float: right;
  color: #dd4b39; }

.recipes-list > li .tools > .fa, .recipes-list > li .tools > .glyphicon, .recipes-list > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer; }

.recipes-list > li:hover .tools {
  display: inline-block; }

.recipes-list > li.done {
  color: #999; }

.recipes-list > li.done .text {
  text-decoration: line-through;
  font-weight: 500; }

.recipes-list > li.done .label {
  background: #d2d6de !important; }


